.navigation {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
  font-size: 20px;
  height: 60px;
  border-bottom: 2px solid #0a2351;
}

.link {
  text-transform: uppercase;
  color: #0a2351;
}

.active {
  color: #00bfff;
}
